@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

*
	box-sizing: border-box
	font-family: 'Cuprum', sans-serif
	font-size: 20px
	font-weight: normal
	font-style: normal
	line-height: 1.65

body
	position: relative
	overflow-x: hidden
	background-color: $text

a
	text-decoration: none
	outline: none
	color: $colorA
	display: inline-flex
	&:hover
		color: $colorA
		text-decoration: none

ul, li
	list-style: none
	margin: 0
	padding: 0

.container
	width: 100vw
	max-width: calc(1960px - 392px)
	padding: 0
	margin: 0 auto

button, input[type="button"]
	background-color: $colorGreen
	border: none
	
// Custom Sass / Remove before use
.header_top, .header_bottom
	background-color: $colorBlue

//.container
	max-width: calc(1960px - 392px)

header
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: 80px 240px 100px
	.header_top .container
		display: grid
		grid-template-columns: repeat(4, minmax(auto, 392px))
		grid-template-rows: 80px
		color: $colorA
		align-items: center
		.header_contact
			display: flex
			grid-column: 1 / 3
			div:first-child
				margin-right: 10px
		.header_select
			grid-column: 4 / 5
			display: flex
			justify-content: space-between
		+media-breakpoint-only(md) // (min-width: 768px) and (max-width: 991px)
			grid-template-columns: 1fr 1fr
			.header_contact
				display: grid
				grid-column: 1 / 2
			.header_select
				grid-column: 2 / 3
	.header_middle
		display: grid
		align-items: center
		.container
			display: grid
			grid-template-columns: repeat(4, minmax(auto, 392px))
			grid-template-rows: 240px
			align-items: center
			.header_logo
				grid-column: 1 / 2
				svg
					width: 90%
			.header_search
				grid-column: 2 / 4
				display: flex
			.header_cart
				justify-self: end
	.header_bottom
		display: grid
		align-items: center
		.container
			display: grid
			grid-template-columns: 28% 1fr
			.header_menu ul
				display: flex


.header_top select
	color: $colorA
	background: none
	border: none
	max-width: 100%
	option
		color: $colorBlue

.header_middle
	.header_search
		.select_search
		select
			width: 250px
			height: 70px
			background: none
			border: 2px solid darken($text, 20%)
		input
			width: 53%
			height: 70px
			background: none
			border: 2px solid darken($text, 20%)
		button
			width: 15%
			color: $colorWhite
	.header_cart
		button
			height: 70px
			color: $colorWhite
			svg
				margin-right: 10px

main
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: repeat(4, auto)
	.container
		display: grid
		grid-template-columns: repeat(4, minmax(auto, 392px))
		grid-template-rows: repeat(2, auto)
		#commercial_slider
			grid-column: 2 / 3
			grid-row: 1 / 3
		.commercial_board
			grid-column: 3 / 4
	.service
		background-color: $colorBlue
		color: $text
		.container
			display: grid
			grid-template-columns: repeat(4, 1fr)
			grid-template-rows: 228px
			align-items: center
	.slider
		display: grid
		grid-template-columns: 1fr
		grid-template-rows: 350px



//.container
//	max-width: 700px
//	padding:
//		right: $gutter/2
//		left: $gutter/2
//	margin:
//		left: auto
//		right: auto
//
//.img-responsive
//	display: block
//	max-width: 100%
//	height: auto
//
//.example-grid
//	display: grid
//	grid-gap: $gutter
//	grid-template-columns: 1fr 1fr
//	grid-template-areas: "left right"
//	> div:first-child
//		grid-area: left
//	> div:last-child
//		grid-area: right
//	+media-breakpoint-down(xs)
//		display: block
//		> div
//			padding: $gutter/2 0


//.parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
//	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)
